body{
    font-family: sans-serif;
    overflow-x: hidden;
}

#menu1 a{
    font-size: 18px;

}

#menu1 button{
    font-size: 18px;
    

}

.carousel-inner{
    max-height: 35rem;
    


}

/*
.carouselExampleIndicators{
    height: 50rem;
    height: 50rem;
}
*/


@media (max-width:768px){
    #intro {
        width: 90px  !important; 
    }
}


