body{
    font-family: sans-serif;
    overflow-x: hidden;
}

#menu1 a{
    font-size: 18px;

}

#menu1 button{
    font-size: 18px;
    

}

.carousel-inner{
    max-height: 35rem;
    


}

/*
.carouselExampleIndicators{
    height: 50rem;
    height: 50rem;
}
*/


@media (max-width:768px){
    #intro {
        width: 90px  !important; 
    }
}

#carouselExampleIndicators{
    max-width: 500px;
    object-fit: cover;
    padding-top: 40px;
    


}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imagen-container {
    flex-basis: 30%; /* Cambia el tamaño de los contenedores de imagen según sea necesario */
    margin-bottom: 20px;
    text-align: center;
}

.imagen-container img {
    max-width: 100%;
}

.imagen-container h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.imagen-container p {
    font-size: 16px;
    color: #666;
}



