/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }

 
/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}





.card-title {
    text-align: center; 
}
.card {
    max-width: 400px; /* Establece el ancho máximo de la tarjeta */
    margin: auto; /* Centra la tarjeta horizontalmente */
}


body {
    position: relative; /* Asegura que los pseudo-elementos se posicionen correctamente */
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita el desplazamiento horizontal */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con opacidad */
    transition: opacity 1s; /* Agrega una transición suave para la opacidad */
}

.overlay {
    position: relative; /* Asegura que el contenido esté por encima de la superposición */
    z-index: 1; /* Asegura que el contenido esté por encima de la superposición */
}


