/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }

 
/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}









/*=============================================================*/


/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}





/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}




/* /* #container-carrousel{
    display: flex;
    align-items: center;
    align-content: center;
    
    
    position: relative;
    margin-left: auto; /* Margen izquierdo automático */
    

.servicios {
    padding: 40px 40px 60px 40px;
    }
    
    .servicios .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    }
    
    .servicios .columna:hover {
    color: white;
    background-color: #1b1b32;
    }
    
    .servicios i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
    }
    
    .servicios-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    }
    
    .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    }
    
    .badge {
    margin: 5px;
    }



.card {
    border-radius: 20px;
    overflow: hidden;
    transition: transform .5s, box-shadow .5s; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 1); 
}
          

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}



.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

/* .contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
} */

/* .contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
} */



/* carrusel*/
.testimonios {
    padding: 40px 40px 80px 40px;
  }
  
  .testimonios .carousel {
    max-width: 800px;
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .testimonio-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
  }
  
  .testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  }
  
  .testimonio-info {
    font-weight: bold;
    text-align: center;
  }
  
  .testimonio-info p {
    margin-bottom: 0;
  }
  
  .testimonio-footer .cliente {
    font-size: 1.2rem;
  }
  
  .testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
  }
  
  /* Contacto */
  
  .contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
  }
  
  .contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
  }
  
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .contacto .descripcion {
    color: white;
    font-size: 1.2rem;
  }
  
  .contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover {
    background-color: white;
    color: black;
  }
  
  .contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    color: black;
  }




  /* .img-carrusel{
    width: 600px;
    height: 600px;

}
.carousel-item {
    height: 500px;
  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* carrusel */

  .testimonios {
    padding: 40px 40px 80px 40px;
  }
  
  .testimonios .carousel {
    max-width: 800px;
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .testimonio-imagen {
    height: 200px;
    width: 200px;
    margin: 10px 10px 20px 10px;
  }
  
  .testimonio-texto {
    max-width: 90%;
    font-size: 18px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  }
  
  .testimonio-info {
    font-weight: bold;
    text-align: center;
  }
  
  .testimonio-info p {
    margin-bottom: 0;
  }
  
  .testimonio-footer .cliente {
    font-size: 1.2rem;
  }
  
  .testimonio-info .cargo {
    font-size: 0.9rem;
    color: #656060;
  }
  


  
  /* Contacto */
  
  

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }