
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
 }

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}




/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .card {
    text-align: center;
  }
  
  .card img {
    max-width: 100%; /* Máximo ancho del contenedor */
    max-height: 200px; /* Máximo alto deseado */
    height: auto; /* Para mantener la proporción de la imagen */
  }
  
  /* Estilos adicionales para la tarjeta */
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .card .add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .filters {
    text-align: center;
    margin-bottom: 20px;
}
.filters label, .filters select {
    display: inline-block;
    margin-right: 10px;
}