@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* CSS global */
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Estilos para el navbar */
.gallery-header {
    background-color: #1b2a4e;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif; /* Agregamos esta regla para asegurar la misma fuente */
}
.gallery-header a {
    color: #f3f3f3;
    font-weight: 600;
}

.gallery-header a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Estilos para el contenido de la galería */
.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filters label, .filters select {
    display: inline-block;
    margin-right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    overflow: hidden; 
}

.card img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    object-fit: cover; 
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    margin: 10px 0;
    font-size: 14px;
}

.card .add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-end; 
}

/* Estilos para el footer */
.footer {
    background: #1b2a4e;
    min-height: 100px;
}

.footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}
