{% extends 'Myapp/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{%static 'Myapp/styles/style_contacto.css'%}">
{% endblock %}

{% block contenido %}
<div id="contenido">
    <form action="" method="post" id="formulario_contacto">
        <label for="">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="">Correo electrónico</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="">Tipo solicitud</label>
        <select name="tipo_solicitud" id="tipo_solicitud">
            <option value="">Seleccionar</option>
            <option value="">Reclamo</option>
            <option value="">Sugerencia</option>
        </select>
        <br>
        <label for="">Mensaje</label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        <br>
        <input type="checkbox" name="avisos" id="avisos">
        <label for="">¿Desea recibir sugerencia/avisos</label>
        <br>
        <button type="reset">Limpiar</button>
        <button type="button" id="guardar">Guardar</button>
    </form>
</div>
{% endblock %}

