{% extends 'Myapp/base.html' %}
{% load static %}

{% block contenido %}
<div id="contenido">
    <section id="testimonios" class="testimonios seccion-clara">
      <h2 class="seccion-titulo">Obras Destacadas de la semana</h2>
      
      
      <!-- Carrusel -->
      <div id="testimonios-carrusel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="{% static 'Myapp/imgObras/Madonna_michelangelo1.jpg' %}" alt="imgobra">
              <p class="testimonio-texto">[DESCRIPCION DE LA OBRA] Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias officia. Ullam nemo explicabo pariatur voluptatem.</p>
              <div class="testimonio-info">
                <p class="cliente">[Nombre Artista]</p>
                <p class="cargo">Pintura</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="{% static 'Myapp/imgObras/van-gogh-s-bedroom-in-arles-1889-1646929996.jpg' %}" alt="imgobra">
              <p class="testimonio-texto">[DESCRIPCION DE LA OBRA]Lorem ipsum dolor sit amet, sed vel iaculis urna. Fusce a ornare enim, vel interdum turpis. Sed aliquam interdum nisi a placerat.</p>
              <div class="testimonio-info">
                <p class="cliente">[Nombre Artista]</p>
                <p class="cargo">Pintura</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <img class="testimonio-imagen rounded-circle" src="{% static 'Myapp/imgObras/unnamed.jpg' %}" alt="imgobra">
              <p class="testimonio-texto">[DESCRIPCION DE LA OBRA]Lorem ipsum dolor sit amet. Fusce a ornare enim, vel interdum turpis. Sed aliquam interdum nisi a placerat.</p>
              <div class="testimonio-info">
                <p class="cliente">[Nombre Artista]</p>
                <p class="cargo">Escultura</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonios-carrusel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </section>
</div>

{% endblock %}